<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/public/styles/layout.css" type="text/css" />

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body class="grey lighten-5">

  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper grey lighten-5 ">
      <a href="#!" class="brand-logo left black-text">whattado</a>
      <ul class="right">
        <li><a class="black-text">login</a></li>
      </ul>
    </div>
  </nav>

  <main>

    <!-- Whattado Button Form -->
    <section>
      <form class="whattado container" method=GET action="/userTodos">
        <div>
        <a class="btn-floating btn-large waves-effect waves-light red accent-4"><i class="material-icons">movie_filter</i></a>
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2"><i class="material-icons">menu_book</i></a>
        <a class="btn-floating btn-large waves-effect waves-light teal darken-3"><i class="material-icons">shopping_basket</i></a>
        <a class="btn-floating btn-large waves-effect waves-light amber darken-4"><i class="material-icons">restaurant</i></a>
      </div>
                <!-- Try using flat button from materialize -->
          <div class="red lighten-3">
            <button class="waves-effect waves-light btn-large red lighten-3">
              1 Hour
            </button>
            <button class="waves-effect waves-light btn-large red lighten-3">
              3 Hours
            </button>
            <button class="waves-effect waves-light btn-large red lighten-3">
              6 Hours
            </button>
            <button class="waves-effect waves-light btn-large red lighten-3">
              1 Day
            </button>
          </div>
                    <div class="red accent-2">
            <button class="waves-effect waves-light btn-large red accent-2">
              Me Time
            </button>
            <button class="waves-effect waves-light btn-large red accent-2">
              Couple Time
            </button>
            <button class="waves-effect waves-light btn-large red accent-2">
              Friends Time
            </button>
            <button class="waves-effect waves-light btn-large red accent-2">
              Family Time
            </button>
          </div>
        <button class="waves-effect waves-light btn-large deep-purple darken-1 pulse" type="submit">whattado<i
            class="material-icons right">assignment</i></button>
      </form>
    </section>

    <section class="todos container col s12">
    </section>
    <!--Search button-->
    <section>
      <div class="fixed-action-btn click-to-toggle vertical ">

        <a class="btn-floating btn-large click-to-toggle green " id="new-search">
          <i class="large material-icons">add</i>
        </a>

          <ul>

            <li><a class="btn-floating btn-large waves-effect waves-light red accent-4"><i class="material-icons">movie_filter</i></a></li>
            <li><a class="btn-floating btn-large waves-effect waves-light indigo darken-2"><i class="material-icons">menu_book</i></a>
            </li>
            <li><a class="btn-floating btn-large waves-effect waves-light teal darken-3"><i class="material-icons">shopping_basket</i></a>
            </li>
            <li><a class="btn-floating btn-large waves-effect waves-light amber darken-4"><i class="material-icons">restaurant</i></a>
            </li>


          </ul>
          <form class="search-form" method="GET" action="/allTodos"style="padding: 3px;
          float: left;">
              <input name="search"type="search" placeholder="Search...">
            </form>
        </div>
      </div>
    </section>

  </main>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/user-todo.js"></script>
  <script type="text/javascript" src="/scripts/search.js"></script>

  </body>
</html>


