<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body class="grey lighten-5">

  <!-- Navbar -->
  <nav>
    <div class="nav-wrapper grey lighten-5 ">
      <a href="#!" class="brand-logo left black-text">whattado</a>
      <ul class="login row right">
        <li class="right login-clicker">
          <a class="black-text">login</a>
        </li>
        <div class="input-field inline right col s3">
            <input id="id_inline" type="text" class="validate">
            <label for="id_inline">id</label>
          </div>
      </ul>
    </div>
  </nav>

  <main>

    <!-- Whattado Button Form -->
    <section class="section">
      <form class="whattado container" method=GET action="/userTodos">

        <!-- Time Radios -->
        <div class="row section times">
          <button class="col s3 waves-effect waves-light btn-large red lighten-3 1h" value="true">
            1 Hour
          </button>
          <button class="col s3 waves-effect waves-light btn-large red-text text-lighten-3 grey lighten-4 z-depth-0 3h"
            value="false">
            3 Hours
          </button>
          <button class="col s3 waves-effect waves-light btn-large red-text text-lighten-3 grey lighten-4 z-depth-0 6h"
            value="false">
            6 Hours
          </button>
          <button class="col s3 waves-effect waves-light btn-large red-text text-lighten-3 grey lighten-4 z-depth-0 24h"
            value="false">
            1 Day
          </button>
        </div>

        <!-- Group Radios -->
        <div class="row section groups">
          <button class="col s3 waves-effect waves-light btn-large red-text text-accent-2 grey lighten-4 z-depth-0 solo"
            value="false">
            <i class="material-icons">person</i>
          </button>
          <button class="col s3 waves-effect waves-light btn-large red-text text-accent-2 grey lighten-4 z-depth-0 duo"
            value="false">
            <i class="material-icons">group</i>
          </button>
          <button
            class="col s3 waves-effect waves-light btn-large red-text text-accent-2 grey lighten-4 z-depth-0 group"
            value="false">
            <i class="material-icons">group_add</i>
          </button>
          <button class="col s3 waves-effect waves-light btn-large red accent-2 family" value="true">
            <i class="material-icons">child_friendly</i>
          </button>
        </div>

        <!-- Type Toggles -->
        <div class="row section types">
          <div class="col s3">
            <button class="btn-floating btn-large waves-effect waves-light red accent-4 movies" value="true"><i
                class="material-icons">movie_filter</i></button>
          </div>
          <div class="col s3">
            <button class="btn-floating btn-large waves-effect waves-light indigo darken-2 books" value="true"><i
                class="material-icons">menu_book</i></button>
          </div>
          <div class="col s3">
            <button class="btn-floating btn-large waves-effect waves-light grey lighten-4 shopping" value="false"><i
                class="teal-text text-darken-3 material-icons">shopping_basket</i></button>
          </div>
          <div class="col s3">
            <button class="btn-floating btn-large waves-effect waves-light amber darken-4 restaurants" value="true"><i
                class="material-icons">restaurant</i></button>
          </div>
        </div>
        <div class="row section submit">
          <button class="col s6 offset-s3 waves-effect waves-light btn-large deep-purple darken-1 pulse" type="submit">
            whattado
          </button>
        </div>

      </form>
    </section>

    <section class="todos section container col s12">
    </section>
    <!--Search button-->
    <section>
      <div class="fixed-action-btn click-to-toggle vertical ">

        <a class="btn-floating btn-large click-to-toggle green " id="new-search">
          <i class="large material-icons">add</i>
        </a>
        <form class="search-form" method="GET" action="/allTodos" style="padding: 3px;
          float: left;">
          <input type="search" placeholder="Search...">
        </form>
      </div>
      </div>
    </section>

  </main>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
  <script type="text/javascript" src="/scripts/whattado-form.js"></script>
  <script type="text/javascript" src="/scripts/user-todo.js"></script>
  <script type="text/javascript" src="/scripts/search.js"></script>
</body>

</html>
